ul
{
grid-template-columns: min-content;
}
ul li
{
    margin: auto auto 25px 0;
    list-style: none;
    display: inline block;
}
p
{
    display: inline;
    margin: 5px 5px;
}
hr
{
    text-align: center;
    width: 100px;
}