.list  
{
   width: 540px;
   margin: auto auto auto auto;
   display: grid;
   grid-template-columns: 180px 180px 180px ;
}

.list div
{
    margin: auto 25px 25px 25px;
    background-color:burlywood;
    height: 120px;
}
p
{
    display: inline;
    margin: 5px 5px;
}
hr
{
    text-align: center;
    width: 100px;
}